

.form2{
    margin-right: 40px;
}
.form3{
    margin-left: 40px;
}
.form4{
    margin-right: 40px;
}

.form6{
    margin-right: 75px;
}
.ree{
    width: 9%;
    height: 5vh;
    border-radius: 12px;
    background-color: #fe7bbf;
     border-color: #fe7bbf;
}
